'use strict';

const ServiceV1 = require('../../service/v1');
const authHelper = require('../resources/auth_helper.js');
const serviceErrorUtils = require('../resources/service_error_util');
const auth = authHelper.auth;
const describe = authHelper.describe; // this runs describe.skip if there is no auth.js file :)

describe('service_integration', () => {
  const service = ServiceV1(auth.service);

  it('should succeed', done => {
    const params = {
      opt: true,
    };

    service.method(params, serviceErrorUtils.checkErrorCode(200, (err, res) => {
      expect(err).toBeNull()
      expect(res).toBeDefined();
      // more specific assertions can be added
      done();
    }));
  });
});
