name: Unit and Integration Tests

on:
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  unit-and-integration-tests:
    runs-on: ibm-x86-64-medium
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://na.artifactory.swg-devops.com/artifactory/api/npm/wcp-tmp-ace-fr-team-npm-virtual/'
          cache: 'npm'
      - name: Run Unit Tests
        env:
          NODE_AUTH_TOKEN: ${{ secrets.ARTIFACTORY_ACCESSTOKEN }}
        run: |
          npm run clean
          npm install 
          npm run build
          npm run test-unit
          npm run lint
      - name: Get latest domain mapping certs from api
        uses: actions/checkout@v4
        with:
          repository: 'coligo/api'
          ref: 'main'
          path: 'api'
          token: ${{ secrets.DEVOPS_GITHUB_TOKEN }}
      - name: Run Integration Tests
        env:
          CE_API_HOST: ${{ vars.CE_API_HOST }}
          CE_API_KEY: ${{ secrets.CE_TEST_API_KEY }}
          COS_ACCESS_KEY_ID: ${{ secrets.COS_ACCESS_KEY_ID }}
          COS_SECRET_ACCESS_KEY: ${{ secrets.COS_SECRET_ACCESS_KEY }}
          IAM_ENDPOINT: ${{ vars.IAM_ENDPOINT }}
        run: |
          echo "CODE_ENGINE_URL=https://$CE_API_HOST/v2" > code_engine_v2.env
          echo "CODE_ENGINE_AUTH_TYPE=iam" >> code_engine_v2.env
          echo "CODE_ENGINE_APIKEY=$CE_API_KEY" >> code_engine_v2.env
          echo "CODE_ENGINE_AUTH_URL=$IAM_ENDPOINT" >> code_engine_v2.env
          echo "COS_ACCESS_KEY_ID=$COS_ACCESS_KEY_ID" >> code_engine_v2.env
          echo "COS_SECRET_ACCESS_KEY=$COS_SECRET_ACCESS_KEY" >> code_engine_v2.env
          echo "CODE_ENGINE_DOMAIN_MAPPING_NAME=api-unit-test-tls.e2e-board.info" >> code_engine_v2.env
          echo "CODE_ENGINE_TLS_KEY_FILE_PATH=./api/test/integration/tls-files/demohero.key" >> code_engine_v2.env
          echo "CODE_ENGINE_TLS_CERT_FILE_PATH=./api/test/integration/tls-files/demohero.crt" >> code_engine_v2.env
          ./scripts/get-dependencies.sh # get api repo for access to latest domain mapping cert
          npm run test-integration

